/* ClothingDetailCard.css */
.clothing-detail {
    margin: 50px;
    border-radius: 8px;
    padding: 16px;
    color: white;
}

.enterTextField {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Additional styling for Material-UI components if needed */
.MuiCardHeader-title {
    color: #ffffff;
}

.MuiTypography-body1 {
    color: #ffffff;
}

.MuiButton-root {
    border-radius: 4px;
    padding: 8px 16px;
}
